button {
  background-color: #009CDE;
  color: #f9f9f9;
  border: none;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  cursor: pointer; }
.error{
  color: #D8000C;
  background-color: #FFBABA;
  border: none;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
}
