<head>
  <meta charset="utf-8">
  <!-- Load PayPal's checkout.js Library. -->
  <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>

  <!-- Load the client component. -->
  <script src="https://js.braintreegateway.com/web/3.42.0/js/client.min.js"></script>

  <!-- Load the PayPal Checkout component. -->
  <script src="https://js.braintreegateway.com/web/3.42.0/js/paypal-checkout.min.js"></script>
  <script src="https://js.braintreegateway.com/web/dropin/1.9.2/js/dropin.min.js"></script>
</head>
<body>
<app-root></app-root>
</body>
